
.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    width: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__line {
    width: 30px;
    height: 3px;
    background: white;
}

.fa-bars {
    width: 30px;
    color: #F2CD60;
}